.time-background{
  width: 100%;
  background-color: #908d8d21;
  padding: 6%;
}
.handleMinutes{
  //margin-top: 40px;
}
.adj-intersec{
  //height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;

}
.adj_top_separat{
  margin-top: 50px;
}
.adj-handle{
  color:red;
}
.adj-sync{
  width: 86%;
  height: 30px;
  border: 1px solid black;
  padding-top: 3px;
  background-color: cyan;
  color: white;
  text-align: center;
}
div.rs-calendar{
  //position:fixed;
}
.adj-mrg{
  margin-top: 43%;
}

.adj-bgd-co{
  //background-color: cadetblue;
}
.tr-button{
  width: 87%;
  //margin-top: 0;
}
div.adj-bar{
  //height: 20px;

}
div.adj-bar div.rs-slider-progress-bar{
  background: linear-gradient(90deg, rgba(0,212,255,1) , rgba(121,9,24,0.4671052631578947) 35%, rgba(2,0,36,1) 0%);
}
.adj-must{
  width: 108px;
  color: red;
}
.adj-sync-2{
  width: 60%;
  height: 30px;
  border: 1px solid black;
  padding-top: 3px;
  background-color: cyan;
  color: white;
  text-align: center;
}
.adj-list-elt{
  width: 97%;
  margin-left: 3%;
  border: 1px solid black;
  text-align: left;
  background-color: cyan;
}
.adj-list{
  width: 100%;
  border: 1px solid black;
  text-align: left;
  background-color: cadetblue;
}
.list-container{
  padding-top: 14px;
  padding-right: 37px;
  border: 1px solid black;
  background-color: aquamarine;
}
.adj-priority{
  width: 99%;
  margin-top: 60px;

}
.adj-task-linear{
  width: 43%;
}
.adj-bgd-co-rge{
  background-color: cadetblue;
  padding-right: 51px;
  padding-top: 17px
}
.time-background-rge {
  //width: 100%;
  //background-color: #908d8d21;
  width: 100%;
  background-color: #908d8d21;
  padding: 17%;
}
.adj-confirm-edit{
  display: block;
  margin: auto;
  margin-top: 50px
}
.adj-am-fm{
  z-index: 34;
}
//button.adju-button {
//  display: block;
//  margin: auto;
//  width: 50px;
//}
table.adju-ttable-1{
  background-color: green;
  margin-top:30px;
  tr>td{
    padding:7px;
  }
}
table.adju-ttable-2{
  background-color: yellow;
  tr>td{
    padding:7px;
  }
}
.adju-button-2{
  width: 89px;
  margin-top: 10px;
}
